In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/swiggy-restaurants-dataset/data.json
/kaggle/input/swiggy-restaurants-dataset/swiggy.csv

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

### Analyzing DataFrame

In [3]:
df = pd.read_csv("/kaggle/input/swiggy-restaurants-dataset/swiggy.csv")
df.head()  # Reading Dataframe

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [4]:
# Bottom View of Dataset
df.tail()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [5]:
# shape of DataFrame
df.shape

(148541, 11)

In [6]:
# Datatype of Dataframe columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [7]:
# Checking all null values in Dataframe
df.isnull().sum()

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [8]:
# Total null values count
df.isnull().sum().sum()

803

In [9]:
df = df.dropna()

In [10]:
# again shape of dataset checked
df.shape

(148255, 11)

In [11]:
# duplicate values checked
df.duplicated().sum()

0

In [12]:
df['city'].value_counts()

Bikaner                 1665
Noida-1                 1424
Indirapuram,Delhi       1279
BTM,Bangalore           1159
Rohini,Delhi            1135
                        ...
Alwarpet,Chennai           1
Naharlagun                 1
Mahim Dadar,Mumbai         1
Starbucks_BKC,Mumbai       1
Rangpo                     1
Name: city, Length: 821, dtype: int64

In [13]:
df['cost'] = df['cost'].str.split('₹').str[1]

In [14]:
df['cost']

0          200
1          200
2          100
3          250
4          250
          ...
148536     200
148537     300
148538     300
148539     250
148540     200
Name: cost, Length: 148255, dtype: object

In [15]:
df['cost'] = df['cost'].astype(float)

In [16]:
df['rating']

0          --
1         4.4
2         3.8
3         3.7
4          --
         ...
148536     --
148537     --
148538     --
148539     --
148540     --
Name: rating, Length: 148255, dtype: object

In [17]:
df['rating'].value_counts()['--']

86912

In [18]:
# Replace "--" with NaN
df['rating'].replace("--", np.nan, inplace=True)

In [19]:
df['rating'] = df['rating'].astype(float)

In [20]:
# Fill missing values with median of column
df['rating'].fillna(df['rating'].median(), inplace=True)

In [21]:
df['rating']

0         4.0
1         4.4
2         3.8
3         3.7
4         4.0
         ...
148536    4.0
148537    4.0
148538    4.0
148539    4.0
148540    4.0
Name: rating, Length: 148255, dtype: float64

In [22]:
df['rating_count'].value_counts()

Too Few Ratings    86912
20+ ratings        21604
100+ ratings       20514
50+ ratings        11985
500+ ratings        4390
1K+ ratings         2737
5K+ ratings           98
10K+ ratings          15
Name: rating_count, dtype: int64

In [23]:
#Feature Engineering : Mapping types of rating_counts into numerical values

df["rating_count"] = df["rating_count"].map({"10K+ ratings": 1, '5K+ ratings': 2, '1K+ ratings': 3 ,'500+ ratings': 4,'50+ ratings': 5, '100+ ratings': 6 ,'20+ ratings': 7, 'Too Few Ratings': 8 })

In [24]:
df["rating_count"].value_counts()

8    86912
7    21604
6    20514
5    11985
4     4390
3     2737
2       98
1       15
Name: rating_count, dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148255 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148255 non-null  int64
 1   name          148255 non-null  object
 2   city          148255 non-null  object
 3   rating        148255 non-null  float64
 4   rating_count  148255 non-null  int64
 5   cost          148255 non-null  float64
 6   cuisine       148255 non-null  object
 7   lic_no        148255 non-null  object
 8   link          148255 non-null  object
 9   address       148255 non-null  object
 10  menu          148255 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 13.6+ MB

* Identify the number of restaurants listed on Swiggy in India
* Determine the number of cities that have restaurants listed on Swiggy
* Identify the city with the maximum number of restaurants listed on Swiggy
- Determine the top 10 cities as per the number of restaurants listed on Swiggy
* Determine the most popular cuisines served throughout the dataset
6) Identify the city with the least expensive restaurant in terms of cost
7) Determine the top 5 most popular restaurant chains in India
8) Identify the restaurant in Bangalore that has the most number of people visited based on the number of reviews

In [26]:
# Count the number of unique cities with restaurants listed on Swiggy
num_cities = df['city'].nunique()

# Print the result
print('Number of cities with restaurants listed on Swiggy:', num_cities)

Number of cities with restaurants listed on Swiggy: 821

In [27]:
# Group the dataset by city and count the number of unique restaurant IDs in each city
city_counts = df.groupby('city')['id'].nunique()

In [28]:
# Get the city with the maximum count
max_city = city_counts.idxmax()

# Print the result
print('City with the maximum number of restaurants listed on Swiggy:', max_city)

City with the maximum number of restaurants listed on Swiggy: Bikaner

In [29]:
# Get the top 10 cities by count
top_cities = city_counts.nlargest(10)

In [30]:
# Print the result
print('Top 10 cities as per the number of restaurants listed on Swiggy:')
print(top_cities)

Top 10 cities as per the number of restaurants listed on Swiggy:
city
Bikaner                      1665
Noida-1                      1424
Indirapuram,Delhi            1279
BTM,Bangalore                1159
Rohini,Delhi                 1135
Kothrud,Pune                 1086
Indiranagar,Bangalore        1079
Electronic City,Bangalore    1039
Greater Kailash 2,Delhi      1037
Vashi,Mumbai                 1021
Name: id, dtype: int64

In [31]:
# Count the number of restaurants serving each cuisine
cuisine_counts = df['cuisine'].value_counts()

# Print the result
print('Most popular cuisines served on Swiggy:')
print(cuisine_counts.head(10))

Most popular cuisines served on Swiggy:
North Indian,Chinese    6463
Indian                  6399
Chinese                 5045
North Indian            4764
Indian,Chinese          4368
South Indian            3299
Bakery                  3122
Chinese,Indian          2308
Chinese,North Indian    2283
Bakery,Desserts         2233
Name: cuisine, dtype: int64

In [32]:
city_cost = df.groupby('city')['cost'].mean().sort_values()
least_expensive_city = city_cost.index[0]
print(f"The city with the least expensive restaurants is {least_expensive_city}.")

The city with the least expensive restaurants is Hampi.

In [33]:
# Top 5 most popular restaurant
top_chains = df.groupby('name')['id'].count().sort_values(ascending=False).head(5).index.tolist()
print("The top 5 most popular restaurant chains in India are:")
for chain in top_chains:
    print(chain)

The top 5 most popular restaurant chains in India are:
Domino's Pizza
Pizza Hut
KFC
Kwality Walls Frozen Dessert and Ice Cream Shop
Baskin Robbins